<%- include('../template/head')-%>
<body>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <%- include('../template/nav')-%>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col 12">
                <h1 class="cover-heading">Form Example</h1>
                <form method="POST" action="/articles">
                    <div class="form-group">
                        <label for="Name">Title</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="Enter post title" required>
                    </div>
                    <div class="form-group">
                        <label for="Surname">Description</label>
                        <input type="text" class="form-control" id="description" name="description" placeholder="Enter post description">
                    </div>
                    <button type="submit" class="btn btn-dark">Submit</button>
                </form>
            </div>
        </div>
    </div>

</body>
</html>