<%- include('../template/head')-%>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <%- include('../template/nav')-%>
            </div>
        </div>
    </div>
    
    <div class="container d-flex justify-content-center align-items-center">
        <div class="row ">
            <div class="col-12">
                <h1>Home</h1>
            </div>
        </div>
    </div>
</body>

</html>
