<nav class="mt-5 mb-5 justify-content-center d-flex">
    <a id='links' class="nav-link text-dark" href="/articles">Posts</a>
    <a id='form' class="nav-link text-dark" href="/create-post">Create Posts</a>
</nav>