<header class="masthead mb-auto">
    <div class="inner">
        <nav class="nav nav-masthead justify-content-center">
            <a id='links' class="nav-link" href="/articles">Posts</a>
            <a id='form' class="nav-link" href="/create-post">Create Posts</a>
        </nav>
    </div>
</header>